#root {
  text-align: left;
  margin: .5em;
  margin-bottom: 2em;

  h1 {
    text-align: center;
  }

  h3 {
    font-weight: inherit;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      height: 1.5em;
      width: 22vw;
      margin: 0 .5em 0 .5em;
      box-shadow: 0 0 0 1px;
      border: 1px solid transparent;
      border-radius: 5px;
      font-family: inherit;
    }
  }

  /* */
  select {
    font-family: inherit;
    font-weight: inherit;
  }

  /* TABLE */
  table {
    margin: .5em 0 1em 0;
    table-layout: auto;
    border-spacing: 0;
    border-collapse: inherit;
    border-radius: 10px;
    border: 1px solid;
  }

  table thead th {
    border-bottom: 1px solid;
  }

  table tbody td:not(:last-child) {
    border-right: 1px solid;
  }

  table tbody tr:not(:last-child)>td {
    border-bottom: 1px solid;
  }

  table thead th:not(:last-child),
  table tbody td:not(:last-child) {
    border-right: 1px solid;
  }

  th,
  td {
    padding: 0 .5em 0 .5em;
    // TODO implement ellipses and click on td to expand the content
  }

  /* FOOTER */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-image: linear-gradient(to top, rgb(255, 255, 255), 90%, rgba(255, 255, 255, 0));

    a {
      margin: .5em 1% 0 1%;
    }

    svg {
      cursor: pointer;
      color: var(--text-color, #1a1a1a);
    }

    svg:hover {
      opacity: 50%;
    }
  }

  /* LABEL */
  label {
    display: none;
  }

  /* ERROR */
  // TODO fix error page layout
  #error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}